body {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(85, 26, 139);
  cursor: pointer;
}

h1 {
  font-size: 40px;
  color: #000;
}

h2 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 5px 0;
}

img {
  width: 300px;
  height: 150px;
}

.main-container {
  width: 601px;
  margin: auto;
  text-align: center;
}

.dogs, .cats {
  float: left;
  text-align: center;
}
