body {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(85, 26, 139);
  cursor: pointer;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 40px;
  color: #000;
}

h2 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

img {
  width: 300px;
}

.main-container {
  width: 625px;
  margin: auto;
  text-align: center;
}

.titleblock {
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  margin: 5px 0 5px 0;
}

.dogs, .cats {
  float: left;
  text-align: center;
  padding: 5px;
}

.allCats, .allDogs {
  margin: 10px auto;
  width: max-content;
  padding: 10px;
}

.dogs:hover, .cats:hover, .allCats:hover {
  border: 2px solid #8d8d8d;
}


@media only screen and (max-width: 600px) {
  .main-container, .container, .cats, .dogs {
    width: 95%;
  }

}
